<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

	<Fragment>

		<!-- Declare the standard directory tree -->
		<StandardDirectory Id="CommonFilesFolder">
			<Directory Id="ASCOMRoot" Name="ASCOM">
				<Directory Id="LunaticAstroFolder" Name="LunaticAstro">
					<Directory Id="FilterWheelFolder" Name="FilterWheel" />
				</Directory>
			</Directory>
		</StandardDirectory>

	</Fragment>

</Wix>